
.mybox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.myitem {
  padding: 5px;
}

/* DEBUG */
.myitem {
  overflow-x: hidden;
  border: solid;
  border-color: #f00;
  padding: 10px;
}

